body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}
#btn{
  display: block;
  border:5px lightgray outset;
  text-align: center;
}
.container{
  display: flex;
  flex-direction: column;
}
#btn:hover{
  border-style: inset;
}